<%- include('partials/header'); -%>
<h1><%= post.postTitle %></h1>
<p><%= post.postContent %></p>
<br><br>
<form action="/post" method="post" onSubmit="if(!confirm('Delete this Post')){return false;}">
    <button type="submit" name="deleteBtn" id="del" value="<%= post._id %>">Delete</button>
</form>
<%- include('partials/footer'); -%>